schema/apikey.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">    
    <xs:element name="apikey" type="apikey" />
    <xs:complexType name="apikey">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="key" type="xs:string" />         
        </xs:sequence>
    </xs:complexType>
</xs:schema>